@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
 ::root {}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

P {
    font-size: 16px;
}

section {
    padding: 2rem 0 5rem 0;
}


/* HELPERS */

.container {
    width: 1200px;
    max-width: 90%;
    overflow: hidden;
    margin: 0 auto;
    padding: 40px;
}

.section-header {
    text-align: center;
    font-size: 35px;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: none;
    padding: 1rem 1.5rem;
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

.btn-dark {
    background-color: #000;
}

.btn-main {
    background: hsl(5, 100%, 69%);
}


/* HEADER */

.header {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.header .nav-lists {
    display: flex;
}

.header .nav-link {
    padding: 10px 20px;
    color: #000;
    font-size: 16px;
}

.header .nav-icons {
    display: flex;
    justify-content: space-between;
}

.header .nav-icon {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

.header .nav-icon:hover,
.header .nav-link:hover {
    cursor: pointer;
}


/* HERO */

.hero {
    background: url('./images/hero-banner.png') center center/cover;
    height: 100vh;
}

.hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.hero img {
    height: 500px;
    width: 500px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 300;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 15px;
    /* font-weight: 700; */
}

.hero p {
    width: 500px;
}

.hero .hero-icon {
    font-size: 20px;
}


/* SERVICES */

.services .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.services .service {
    display: flex;
    gap: 15px;
}

.service .service-icon-bg {
    background: hsl(5, 100%, 69%);
    border-radius: 50%;
}

.services .service-icon {
    height: 70px;
    width: 70px;
    filter: brightness(0) invert(1);
    padding: 15px;
}

.services .text-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.services p {
    font-size: 13px;
}


/* PRODUCTS */

.products .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    column-gap: 10px
}

.products .product-image {
    margin-bottom: 10px;
    width: 260px;
}

.products .product {
    margin-bottom: 20px;
    position: relative;
}

.product .product-details {
    text-align: center;
}

.product span {
    font-size: 14px;
    font-weight: 300;
}

.product h3 {
    font-size: 17px;
    margin-top: 10px;
    font-weight: 700;
}

.product P {
    font-size: 18px;
    margin-top: 10px;
    color: hsl(5, 100%, 69%);
    font-weight: 500;
}

.products .cta-lists {
    /* position: absolute; */
    bottom: 0px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: 5s hover ease-in; */
}

.products .product-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 15px;
    background: #fff;
    height: 40px;
    width: 40px;
    color: #000;
    border-radius: 50%;
}

.products .product-link:hover {
    background: hsl(5, 100%, 69%);
    color: #fff;
}

.cta .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    align-items: center;
    gap: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.cta .container .left {
    background: url('./images/cta-1.jpg') center center/cover;
}

.cta .container .right {
    background: url('./images/cta-2.jpg') center center/cover;
}

.cta .container .left,
.cta .container .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    height: 250px;
    position: relative;
}

.cta .container .left::before,
.cta .container .right::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.cta .cta-text {
    z-index: 1;
}

.cta .cta-text span {
    /* color: hsl(5, 100%, 69%); */
    color: #fff;
    font-weight: 100;
    font-size: 14px;
}

.cta .cta-text h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

.cta .btn {
    width: 150px;
}


/* FOOTER */

.footer {
    background: rgb(83, 77, 77);
    color: #fff;
}

.footer .brand {
    margin-bottom: 20px;
}

.footer .contact-list {
    display: flex;
    gap: 10px;
}

.footer .contact-icon {
    color: hsl(5, 100%, 69%);
    font-weight: bold;
    font-size: 20p;
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.footer .footer-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}

.footer h3 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer p {
    font-size: 13px;
}

.footer li {
    margin-bottom: 18px;
}

.footer .sub {
    display: flex;
    flex-direction: column;
}

.footer .sub input {
    height: 40px;
    padding: 10px;
    font-size: 16.5px;
}

.footer .btn {
    padding: 0.5rem 0.75rem;
}

@media (max-width: 480px) {}